[DEFAULT]
RarCommand = unrar x -r -y
RegexFile = regex-list.txt
ShutdownAfterFinish = False
MoveFileToRemote = True
RemoveLocalFile = True

[folder_settings]
ScanDir = 
FilmsFolder = 
SeriesFolder = 
RemoteFilmsFolder =
RemoteSeriesFolder = 
